<section>
    <h2>Show Page for <%=apartment.name%></h2>
    <ul>
      <li>Name: <%=apartment.name%></li>
      
      <li>Bathrooms: <%=apartment.bathrooms%></li>
      
      <li>Bedrooms: <%=apartment.bedrooms%></li>
      
      <li>ID: <%=apartment.userId%></li>
      
    </ul>
  </section>